<!-- example.launch.xml -->

<launch>
  <node pkg="arduino_bridge" exec="teleop" name="tele">
    <remap from="/throttle" to="/raw_throttle"/>
  </node>
  <!-- perform remap so both turtles listen to the same command topic -->
  <node pkg="model_runner" exec="pred" name="predicor">
    <param name="model_path" value=""/>
    <param name="input_size" value="4"/>
    <param name="model_type" value="SEQ2SEQ"/>
    <param name="attention" value="true"/>
    <param name="vel" value="false"/>
    <param name="no_time" value="true"/>
    <param name="rollout" value="true"/>
    <param name="results_path" value=""/>
  </node>
</launch>